body,
html {
	min-height: 100%;
}

.forms-dashboard-container {
	background-color: #2c3e50;
	color: #fff;
	display: flex;
}


.forms-dashboard {
	margin: 80px 20px;
	background-color: #CCC;
	padding: 25px;
	font-weight: bold;
	font-size: 30px;
}